
.navbar-brand img {
    height: 100%
}

nav form#search {
    float: right;
    padding: 0.5em;
}

nav form#search .glyphicon-search {
    z-index: 99;
    position: absolute;
    right: 0.7em;
    top: 50%;
    margin-top: -0.44em;
}

nav form#search .input-group .form-control {
    border-radius: 0.25em;
}

#nav-options {
    margin: 0.5em;
}

#nav-options button.thumbnail {
    margin: 0;
    padding: 0;
}
#nav-options img {
    max-height: 2.3em;
    border-radius: 0.3em;
}

#tweet {
    margin: 0.5em;
}

.navbar-default {
    background-color: #2F92CA;
}
/*
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
*/

.navbar-default .navbar-nav > .active > a {
    background-color: transparent;
    color: #FFF;
    padding-bottom: 0.62em;
    border-bottom: 0.45em solid #FFF;}
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #F3F3F3;
    padding-bottom: 0.62em;
    border-bottom: 0.45em solid #F3F3F3;
}

.navbar-nav .badge {
    color: #2F92CA;
    background-color: #FFF;
    font-size: 0.7em;
    padding: 0.27rem 0.55rem 0.2rem 0.4rem;
    position: absolute;
    left: 0.37rem;
    top: 0.7rem;
    z-index: 99;
    border: 0.2rem solid #2F92CA;
}

navbar-header .navbar-toggle,.navbar-default .navbar-toggle:focus {
    background-color: #57A5D2;
}

.navbar-default .navbar-toggle:hover {
    background-color: #3986B3;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

@media(max-width:34em){
    .navbar-default .navbar-nav > .active > a {
        border-bottom: none;
        border-left: 0.45em solid #FFF;
        padding-left: 0.5em;
    }
}

body {
    padding-top: 4em;
    background-color: #F5F8FA;
}

.card {
    position: relative;
    border: 0.1rem solid #e5e5e5;
    border-radius: 0.4rem;
    position: relative;
    background-color: #FFF;
}

.card-block img.card-img {
    top: 50%;
    margin-top: -36px;
    width: 72px;
    border: 3px solid #FFF;
    border-radius: 0.4rem;
    float: left;
    position: relative;
    z-index: 99;
}
.card-block .card-title {
    float: left;
    margin: 0;
    margin-left: 0.5em;
}
.card-block .card-title small {
    display: block;
}
.card-block .card-text {
    clear: both;
    padding-top: 0.25em;
    margin-bottom: 1.5em;
}

.card-block ul a:hover {
    text-decoration: none;
}
.card-block ul .profile-stats {
    color: #777;
    display: block;
    text-transform: uppercase;
    font-size: 0.63em;
}
.card-block ul .profile-value {
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
    color: #2F92CA;
}

form#new-message {
    border-radius: 0.4rem 0.4rem 0 0;
    padding: 1em;
    border-bottom: 0.1em solid #CEE4F5;
    background-color: #EBF4FB;
}
form#new-message .input-group-addon {
    background-color: #FFF;
}

ul#feed {
    margin: 0;
}

ul#feed li {
    padding: 1em 1em;
    border-bottom: 0.1rem solid #e5e5e5;
}

ul#feed li:last-child {
    border-bottom: none;
}

ul#feed .feed-avatar {
    width: 13%;
    display: inline-block;
    vertical-align: top;
}

ul#feed .feed-post {
    width: 80%;
    display: inline-block;
    margin-left: 2%;
}

ul#feed .feed-post h5 {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

ul#feed .feed-post h5 > small {
    font-size: 1.2rem;
}

ul#feed .action-list {
    margin-left: 13%;
    padding-left: 1em;
}

ul#feed .action-list a {
    width: 15%;
    display: inline-block;
}

ul#feed .action-list a:hover {
    text-decoration: none;
}

ul#feed .action-list .retweet-count {
    padding-left: 0.2em;
    font-weight: bold;
}
